.header-container{
    margin: 4rem 6rem;
}
.header-container img{
    width: 36rem;
}
.header-profile-button a{
    font-size: 3.6rem;
}

.home-main-title{
    font-size: 8rem;
}
.home-main-enter-button{
    font-size: 5rem;
}

.blog-main-new-post {
    margin: 36rem 0 0 4rem;
}
.new-post-img-container{
    width: 100%;
    height: 2rem;
}
.new-post-img-container img{
    height: 60rem;
    border-radius: 0 0 10rem 0;
}
.blog-main-new-post h2{
    font-size: 8rem;
}
.blog-main-new-post h3{
    font-size: 3rem;
}
.blog-main-description-container p{
    font-size: 4rem;
}
.blog-main-description-container a{
    font-size: 4rem;
}

.blog-main-blogposts{
    justify-content: center;
    grid-template-columns: 95%;
    grid-template-rows: 40rem auto;
}
.posts-img-container{
    height: 100%;
}
.blog-main-blogposts h2{
    bottom: 5rem;
    font-size: 5rem;
}
.blog-main-blogposts h3{
    font-size: 2.5rem;
}
.blog-main-blogposts p{
    font-size: 4rem;
}
.blog-main-blogposts a{
    font-size: 4rem;
}

.footer-blog-style div p{
    font-size: 1.8rem;
}

span.flaticon-001-facebook:before {
    font-size: 7rem;
}
span.flaticon-010-linkedin:before {
    font-size: 7rem;
}
span.flaticon-011-instagram:before {
    font-size: 7rem;
}