.main-title{
    font-size: 6rem;
}
.main-enter-button{
    font-size: 3rem;
}

span.flaticon-001-facebook:before {
    font-size: 5rem;
}
span.flaticon-010-linkedin:before {
    font-size: 5rem;
}
span.flaticon-011-instagram:before {
    font-size: 5rem;
}
